.container {
    width: 75%;
    margin: 25px auto;
}
.sidebar {
}
.content {
    background: #FFF;
    padding: 35px 35px;
    width: 100%;

    display: table;
    overflow-x: auto;
}


.header {
    display: flex;
    justify-content: flex-end;
}
.addNew {
    color: #FFF;
    display: inline;
    background: rgba(56,91,160);

    cursor: pointer;
    padding: 15px 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-bottom: 25px;
    margin-left: 25px;

    opacity: 1;
    transition: all 0.3s ease 0s;
}

.addNew:hover {
  color: #FFF;
  background-color: #e43829;

  opacity: 0.75;
}




.actionContainer {
  position: relative;
}
.actions {
  width: 170px;
  background: #FFF;
  padding: 5px 5px;
  margin-bottom: 15px;

  position: absolute;
  z-index: 2;

  top: 35px;
  right: 75px;
}
.action {
  display: flex;
  padding: 15px 15px;
  align-items: center;
  cursor: pointer;
}
.action:hover {
  background: #f0f0f2;
}
.actionIcon {
  margin-right: 25px;
}


@media screen and (min-width: 1200px) {
    .container {
        display: flex;
        justify-content: space-between;
    }
    .sidebar {
        width: 25%;
        margin-bottom: 25px;
    }
    .content {
        width: 73%;
    }
}