.container {

}
.formContainer {
    background: #fff;
    padding: 25px 35px;
    border: 1px solid #fff;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    left: 32%;
    top: 5%;
    width: 35%;
}


.header {
    text-align: center;
    margin: 15px 0 35px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 1);
}

a.forgotPassword {
    display: block;
    cursor: pointer;
    padding-top: 15px;
    text-align: center;
    color: #989898;
    padding-bottom: 10px;
}
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 25px;
}
.logoContainer img {
    width: 33.5%;
}

@media screen and (max-width: 700px) { 
    .formContainer {
        width: 80%;
        position: absolute;
        z-index: 1;        
        left: 10%;
        top: 25%;
    }   
}

@media (min-width: 701px) and (max-width: 1000px) { 
    .formContainer {
        width: 90%;
        position: absolute;
        z-index: 1;        
        left: 5%;
        top: 25%;
    }   
}